@import url(http://fonts.googleapis.com/css?family=Permanent+Marker);
@import url(http://fonts.googleapis.com/css?family=Bangers);

html, body {
  margin: 0 auto;
  text-align:center;
  font-family: 'Bangers', cursive;
  background: url('./civilwar.jpg') no-repeat center;
  background-size: cover;
}

h1 {
  font-size: 3em;
  margin: 0;
}

#mainh1 {
  font-size: 5em;
}

#board {
  height: 500px
  width: 60%;
  margin: 1% 20% 0 20%;
}

.row {
  width: 100%;
  height: 200px;
}

.cell{
  width: 32%;
  height: 80%;
  border: 4px solid black;
  display: inline-block;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#scoreboard {
  background-color: rgba(43, 43, 41, 0.7);
  padding-top:0.5%;
  color: white;
}

.playerSection {
  display: inline-block;
  margin: 0 1%;
}

#red {
  color: red;
}

#blue {
  color: blue;
}

.red {
  background-image: url('./ironman.png');
  background-color: red;
}

.blue {
  background-image: url('./cap.png');
  background-color: blue;
}
