@import url(http://fonts.googleapis.com/css?family=Permanent+Marker);
@import url(http://fonts.googleapis.com/css?family=Bangers);

html, body {
  margin: 0 auto;
  text-align:center;
  font-family: 'Bangers', cursive;
}

h1 {
  font-size: 3em;
  margin: 0;
}

#board {
  height: 500px
  width: 60%;
  margin: 1% 20%;
}

.row {
  width: 100%;
  height: 200px;
}

.cell{
  width: 32%;
  height: 80%;
  border: 3px solid black;
  display: inline-block;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.playerSection {
  display: inline-block;
  margin: 0 1%;
}

#red {
  color: red;
}

#blue {
  color: blue;
}
